@{
    ViewBag.Title = "Home";
}
<section class="home">
<h2 class="text-center">Consuming Web Services Example</h2>
<br/>
<div class="container">
    <p>In this example, we will use Asynchronous JavaScript and XML (AJAX) to call to a weather API called Open Weather API. In order to gather data from their web service, we must:</p>
    <br/>
    <ol>
        <li>Create an account at <a href="https://openweathermap.org/" target="_blank">OpenWeather</a></li>
        <li>Confirm the email address used to sign up</li>
        <li>Create a new API Key</li>
        <li>Follow the documentation to show the weather information you want to in your application.</li>
    </ol>
</div>
</section>