@{
    ViewBag.Title = "Home";
}

<section class="home">
    <article>
        <h2 class="text-center">Consuming Web Services w/ jQuery</h2>
        <br />
        <div class="container">
            <p>In this example, we will use Asynchronous JavaScript and XML (AJAX) to call to a weather API called Open Weather API. In order to gather data from their web service, we must:</p>
            <br />
            <ol>
                <li>Create an account at <a href="https://openweathermap.org/" target="_blank">OpenWeather</a></li>
                <li>Confirm the email address used to sign up</li>
                <li>Create a new API Key</li>
                <li>Follow the documentation to show the weather information you want to in your application.</li>
            </ol>
        </div>
    </article>
    <article>
        <h2 class="text-center">Consuming Web Services w/ C#</h2>
        <br />
        <div class="container">
            <p>In this example, we will use the HttpClient object in C# to make requests for data and show that data in a CSHTML view. In order to set this up appropriately, we must:</p>
            <br />
            <ol>
                <li>Create the DTO's (ResourceModels) for Resources and Categories</li>
                <li>Create the ResourcesController</li>
                <li>Create the controller code for each CRUD functionality</li>
                <li>Generate the view tied to each action (the Model will always refer back to the DTO's we have created)</li>
            </ol>
        </div>
    </article>
</section>